{% extends "schedule/base.html" %}
{% load i18n %}
{% load scheduletags %}
{% load placeholder_tags %}


{% block body %}

<div class="navigation">
  <a href="{% url day_calendar event.calendar.slug %}{% querystring_for_date event.start 3 %}">
    Day
  </a>
  <a href="{% url month_calendar event.calendar.slug %}{% querystring_for_date event.start 2 %}">
    Month
  </a>
  <a href="{% url year_calendar event.calendar.slug %}{% querystring_for_date event.start 1%}">
    Year
  </a>
</div>

<div class="event_actions" align="center">
  {% if back_url %}
  <a href="{{ back_url }}">
    <img border="0" src="{{ MEDIA_URL }}schedule/img/left_mod.png" alt="{% trans "Back" %}"/>
  </a>
  &nbsp;
  {% endif %}
  <a href="{% url edit_event event.calendar.slug,event.id %}?edit">
    <img border="0" src="{{ MEDIA_URL }}schedule/img/pencil.png" alt="{% trans "Change" %}"/>
  </a>
  &nbsp;
  <a href="{% url delete_event event.id %}">
    <img border="0" src="{{ MEDIA_URL }}schedule/img/delete.png" alt="{% trans "Delete" %}"/>
  </a>
</div>
<h1 align="center">{{event.title}}</h1>
<span id="current_event" style="display: none;">
{{occurrence.title}}-{% blocktrans with occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}
</span>

<dl>
  <dt> <h2>Starts @</h2></dt>  <dd>  {% blocktrans with event.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</dd>
  <dt> <h2>Ends @</h2></dt> <dd>{% blocktrans with event.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</dd>
  
  {% if event.rule %}
  <dt> <h2>Reoccurs @</h2></dt>
  <dd>
{{ event.rule }} until {% blocktrans with event.end_recurring_period|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}
 </dd>
{% endif %}   

</dl>

<div class="clearfix">
  <p><span class=event-start>Begin:</span><span class="event-text">{% blocktrans with event.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %} </span></p>
  <p><span class=event-start>Ende:</span><span class="event-text">{% blocktrans with event.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</span></p>
  {% if event.rule %}
  <p><span class=event-start>Reoccurs:</span><span class="event-text">{{ event.rule }} until {% blocktrans with event.end_recurring_period|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}</span></p>
  
{% endif %}
</div>

{% render_placeholder event.content  %}
{% endblock %}
