{% load i18n %}
{% load placeholder_tags %}
{% load sekizai_tags %}
{% addtoblock "css" %}
<link href="{{ MEDIA_URL }}schedule/css/jquery.qtip.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
{% endaddtoblock "css" %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery.qtip.min.js"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
<script type="text/javascript"> 

 $(document).ready(function(){
    $('.tip').qtip({
    	style: {
    		width: 400,
    		tip: true,
    		classes: "ui-tooltip-blue"
    	},
    	position: {
    		at: "bottom left",
    		my: "top right"
    	}
    }
)
 });
</script>
{% endaddtoblock "js" %}

<div class="event_feed">

{% for event in events %}

<!-- a href={{ event.get_absolute_url }} title="{{ event.description }}" style="" -->
{% if event.description %}
 <div class="event_object tip" onclick="location.href='{{ event.get_absolute_url }}';" style="cursor:pointer;" title="{{ event.description }}">
{% else %}
 <div class="event_object" onclick="location.href='{{ event.get_absolute_url }}';" style="cursor:pointer;">
{% endif %}
 
 <ul>
    <li class=event_date>{% blocktrans with event.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %} {% if event.description %} * {% endif %}</li>
    <li class=event_title>{{ event.title }}<span class="author">{{ event.event.creator }}</span></li>
  </ul>
</div> 
<!--  /a -->   
{% endfor %}
</div>


