{% extends "schedule/base.html" %}
{% load i18n %}
{% load scheduletags %}
{% load placeholder_tags %}
{% block body %}
<div class="navigation">
  <a href="{% url day_calendar occurrence.event.calendar.slug %}{% querystring_for_date occurrence.start 3 %}">
    Day
  </a>
  <a href="{% url month_calendar occurrence.event.calendar.slug %}{% querystring_for_date occurrence.start 2 %}">
    Month
  </a>
</div>
<div class="event_actions" align="center">
	{% if back_url %}
	<a href="{{ back_url }}"><img border="0" src="{{ MEDIA_URL }}schedule/img/left_mod.png" alt="{% trans "Back" %}"></a> &nbsp;
	{% endif %}
	<a href="{{occurrence.get_edit_url}}"><img border="0" src="{{ MEDIA_URL }}schedule/img/pencil.png" alt="{% trans "Change" %}"></a> &nbsp;
	<a href="{{occurrence.get_cancel_url}}"><img border="0" src="{{ MEDIA_URL }}schedule/img/delete.png" alt="{% trans "Cancel" %}"></a>
</div>
<h1 align="center">{{occurrence.title}}</h1>
<span id="current_event" style="display: none;">
{{occurrence.title}} - {% blocktrans with occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}
</span>
<dl>
  <dt> <h3>Starts @</h3></dt>  <dd>  {% blocktrans with occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</dd>
  <dt> <h3>Ends @</h3></dt> <dd>{% blocktrans with occurrence.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</dd>
  <dt> <h3>Reoccurs @</h3></dt>
  <dd>
  {% if occurrence.rule %}
  
{{ occurrence.rule }} until {% blocktrans with occurrence.end_recurring_period|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}</td>
{% else %}
    {% trans "Never. This is a 'one time only' event." %}
{% endif %}
 </dd>
</dl>


{% render_placeholder occurrence.content  %}

{% endblock %}
